[Unit]
Description=Desktop alert warning of low remaining battery

[Service]
Type=oneshot
ExecStart=/home/eric/.local/bin/battery-alert

[Install]
WantedBy=graphical.target
